<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>regiser</title>
</head>
<body style="background-color:green;">
<h1 style="color:orange;font-family: cursive;">REGISTER FORM</h1>
<form style="color:orange;font-family: cursive;" action="register" method="post">
     {% csrf_token %}
     <input type="text" name="username" placeholder="enter user name"><br>
     <input type="text" name="first_name" placeholder="enter fist name"><br>
     <input type="text" name="last_name" placeholder="enter last name"><br>
     <input type="email" name="email" placeholder="enter email"><br>
     <input type="password" name="password" placeholder="enter password"><br>
     <input type="password" name="password1" placeholder="confirm passwrd"><br>
     <input type="submit">
</form>
{% for msg in messages %}
{{msg}}
{% endfor%}
</body>
</html>